
.food-content a{
    color: #7e4c4f;
}
.f-line::before {
    position: absolute;
    content: "";
   height: 1px;
    width: 250px;
    background: #7e4c4f;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all .3s linear;
    z-index: 0;
}
.f-line::after {
    content: "";
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    bottom: -3px;
    right: 0;
    height: 8px;
    width: 8px;
    z-index: 2;
    background: #f6ab4a;
    transition: all .3s linear;
}
 .price{
    font-size: 20px;
    color: #F6AB4A;
 }
 .food-img1{
    background-image: url('../../assets/food1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    width: 270px;
    height: 311px;
    transition: all .3s linear;
 }
 .food-img1:hover{
    background-image: url('../../assets/food1hover.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    width: 270px;
    height: 311px;
 }
 .food-img2{
    background-image: url('../../assets/food2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    width: 270px;
    height: 311px;
    transition: all .3s linear;
 }
 .food-img2:hover{
    background-image: url('../../assets/food1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    width: 270px;
    height: 311px;
 }
 .food-img3{
    background-image: url('../../assets/food3.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    width: 270px;
    height: 311px;
    transition: all .3s linear;
 }
 .food-img3:hover{
    background-image: url('../../assets/food3hover.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    width: 270px;
    height: 311px;
 }
 .food-img4{
    background-image: url('../../assets/food4.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    width: 270px;
    height: 311px;
    transition: all .3s linear;
 }
 .food-img4:hover{
    background-image: url('../../assets/food4hover.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    width: 270px;
    height: 311px;
 }